body{
	font-family: 'Poppins', sans-serif;
	margin: 0;

}
h1{
	font-size: 55px;
	margin: 0;
	padding-top: 10px;

	
}
.colored-text{
	color: orange;
}
.display-container {
	display: flex;
	margin-bottom: 0;

}

.half-screen-view{
	width: 50%;
	padding-top: 50px;
	padding-left: 20px;
	
}
.half-screen-view img{
	width:80%;
	height: 80%;
}
.half-screen-view p{
	
	padding-bottom: 100px;
}

.link-tag{
	text-decoration: none;
	background-image: linear-gradient(orange,tomato);
	padding: 15px 20px;
	border-radius: 10px;
	font-weight: 700;
	color: white;
	

}
.background-image-setting{
	background-image: url(images/top-banner.jpg);
	background-repeat: no-repeat;
}

/* End of First Section*/

/* Start of about me section */

.about-me-background {
	
	background-image: url(images/about-me-background.jpg);
	background-repeat: no-repeat;
}

.middle h1{
	text-align: center;
}

/* Start of recipie title section */
#recipe-para{
	text-align: center;

}

.three-segment-display{
	width: 33%;
	margin: 80px 80px 80px 80px;
	
	margin-top: 10px;
	
}
.three-segment-display img{
	height: 50%;
	width: 100%;
	
}
.three-segment-display p{
	width: 60%;
	
}


.footer{
	margin-top: 50px;
	background-color: salmon;
}

.footer small{
	text-align: center;
	padding-left: 800px;
}

.subscriber-count{
margin: 80px 80px 80px 80px;
box-shadow: 10px 10px 20px;
border-radius: 30px;
padding-bottom: 20px;
}

.recipie-title{
width: 80%;
margin-left: 50px;
padding:50px 50px 50px 50px;
border-radius: 30px;
box-shadow: 10px 10px 60px;
height: 60%;


}